/* 
color-palate 
Electric-lime: #5bd606
Royal-Purple: #450d6b 

font-family: 'Archivo Black', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;

*/
/* LOGIN - REGISTER */
.base-container{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items:center;
    border: 1px solid #5bd606;
    padding: 20px;
    .header {
        font-size: 24px;
        font-family: 'Archivo Black', sans-serif;
        text-transform: uppercase;
    }

    .form {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-group {
            display:flex;
            flex-direction:column;
            align-items:flex-start;
            width: fit-content;
            margin: 10px 0;
            label {
                font-size: 20px;
            }

            input {
                margin-top: 6px;
                min-width: 16em;
                height: 37px;
                padding: 0 10px;
                font-size: 16px;
                color: #5bd606;
                text-align: left;
                border: 1px solid #5bd606;
                transition: all 250ms ease-in-out;
            }
            @media only screen and (max-width: 617px) {
                .header {
                    font-size: 12px;
                }
               
                label { 
                    font-size: 15px;
                }
                
                input {
                    font-size: 12px;
                    min-width: 17em;
                }

                .footer { 
                    a {
                        font-size: 12px;
                    }
                }

            }
        }
    }
    .footer{
        display: flex;
        margin-top: 1em;
        flex-direction: column;
        .register-link:hover, .login-link:hover {
            cursor: pointer;
        }
        Button {
            margin: 2em 0;
        }
    }
}
/* ---------------------------------- */
